// Colors
$black: #1E1E1E;

$grey-darken: #888888;
$grey: #0000001F;
$grey-lighten: #E0E0E0;

$white-darken: #F6F6F6;
$white: #FFFFFF;

$orange: #FF7643;
$light-orange: #FFA17D;
$red: #F84343;
$green: #53DB8C;


// Symbols
$primary-color: $orange;
$secondary-color: $light-orange;

$text-main-color: $grey-darken;
$text-secondary-color: $white;

$input-bg-color: $grey;

$fail-color: $red;
$success-color: $green;

$bg-color: $white;
